x<table class="table table-striped">
    <thead>
    <tr>
        <th>序号</th>
        <th>课程号</th>
        <th>课程名称</th>
        <th>学分</th>
        <th>成绩</th>
        <th>状态</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in courses" on-repeat-finish="renderTable()">
        <td>{{$index+1}}</td>
        <td>{{c.courseId}}</td>
        <td>{{c.name}}</td>
        <td>{{c.credit}}</td>
        <td>{{c.grade}}</td>
        <td>{{c.status}}</td>
    </tr>
    </tbody>
</table>