<div class="col col-md-3">
    <div class="list-group">
        <a ui-sref="app.admin" class="list-group-item" style="text-align: center;background-color: slategray;color: whitesmoke">{{app.name}}</a>
        <a ui-sref=".dept" class="list-group-item" ui-sref-active="active">院系管理</a>
        <a ui-sref=".class" class="list-group-item" ui-sref-active="active">班级管理</a>
        <a ui-sref=".course" class="list-group-item" ui-sref-active="active">课程管理</a>
        <a ui-sref=".lecturer" class="list-group-item" ui-sref-active="active">教师管理</a>
        <a ui-sref=".student" class="list-group-item" ui-sref-active="active">学生管理</a>
        <a ui-sref=".password" class="list-group-item" ui-sref-active="active">修改密码</a>
        <a ui-sref="signin" class="list-group-item" ng-click="logout()" style="text-align: center;background-color: lightcoral;color: whitesmoke;margin-top: 10px">注销登录</a>
    </div>
</div>
<div class="col col-md-9">
    <div class="alert alert-info" ng-show="curState()=='app.admin'">欢迎使用{{app.name}}——管理员端</div>
    <div ui-view></div>
</div>