<button class="btn btn-primary" type="button" ng-click="add()">新增</button>
<button class="btn btn-primary" type="button" ng-click="del()">删除</button>
<button class="btn btn-primary" type="button" ng-click="edit()">编辑</button>
<button class="btn btn-primary" type="button" ng-click="reload()">刷新</button>
<hr>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>序号</th>
        <th>工号</th>
        <th>名字</th>
        <th>性别</th>
        <th>院系</th>
        <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="l in lecturers" on-repeat-finish="renderTable()">
        <td><input type="checkbox" name="list" value="{{$index}}"></td>
        <td>{{$index+1}}</td>
        <td>{{l.staffId}}</td>
        <td>{{l.name}}</td>
        <td>{{l.gender==0?'男':'女'}}</td>
        <td>{{deptMap[l.deptId]}}</td>
        <td>{{l.notes}}</td>
    </tr>
    </tbody>
</table>
<script type="text/ng-template" id="add.html">
    <div class="modal-header">
        <h4 class="modal-title">{{lecturer.id?"编辑":"增加"}}教职工</h4>
    </div>
    <div class="modal-body">
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <form class="form-horizontal">
            <div class="form-group {{!lecturer.staffId&&check?'has-error':''}}">
                <label for="staffId" class="col-md-2 control-label">工号</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="staffId" type="text" ng-model="lecturer.staffId" class="form-control rounded" required>
                    </div>
                </div>
            </div>
            <div class="form-group {{!lecturer.name&&check?'has-error':''}}">
                <label for="name" class="col-md-2 control-label">名字</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="name" type="text" ng-model="lecturer.name" class="form-control rounded" required>
                    </div>
                </div>
            </div>
            <div class="form-group {{!lecturer.id&&!lecturer.password&&check?'has-error':''}}">
                <label for="password" class="col-md-2 control-label">{{lecturer.id?"新":"初始"}}密码</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="password" type="password" ng-model="lecturer.password" class="form-control rounded" required>
                    </div>
                </div>
            </div>
            <div class="form-group {{lecturer.password!=repwd&&check?'has-error':''}}">
                <label for="repwd" class="col-md-2 control-label">重复密码</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="repwd" type="password" ng-model="repwd" class="form-control rounded" required>
                    </div>
                </div>
            </div>
            <div class="form-group {{!lecturer.id&&!lecturer.gender&&check?'has-error':''}}">
                <label for="gender" class="col-md-2 control-label">性别</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <select id="gender" class="form-control rounded" ng-model="lecturer.gender">
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group {{!lecturer.deptId&&check?'has-error':''}}">
                <label for="dept" class="col-md-2 control-label">所属院系</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <select id="dept" class="form-control rounded" ng-model="lecturer.deptId">
                            <option value="{{d.id}}" ng-repeat="d in depts" ng-selected="lecturer.deptId==d.id">{{d.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="notes">备注</label>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea id="notes" ng-model="lecturer.notes" maxlength="255" class="form-control rounded" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-default" ng-click="cancel()">取消</button>
    </div>
</script>