<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 form-box">
            <!-- <h3>登陆</h3> -->
            <div class="panel panel-default login-panel">
                <div class="panel-body">
                    <h3 style="text-align: center">登陆</h3>
                    <hr>
                    <form class="form-horizontal" ng-submit="submit()">
                        <div class="form-group">
                            <label for="name" class="col-md-2 col-sm-2 control-label">{{user.role=='student'?'学号':'工号'}}</label>
                            <div class="col-md-10 col-sm-10">
                                <input type="text" class="form-control" id="name" ng-model="user.name" placeholder="账号" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-2 col-sm-2 control-label">密码</label>
                            <div class="col-md-10 col-sm-10">
                                <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="密码" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role" class="col-md-2 col-sm-2 control-label">身份</label>
                            <div class="col-md-10 col-sm-10">
                                <select name="role" id="role" class="form-control" ng-model="user.role" ng-change="role()">
                                    <option value="student">学生</option>
                                    <option value="lecturer">教师</option>
                                    <option value="admin">管理员</option>
                                </select>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember" checked> 记住我
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- <a href="#">忘记密码？</a> -->
                        <input type="submit" class="btn btn-primary pull-right" value="登陆"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>