<div class="col col-md-3">
    <div class="list-group">
        <a ui-sref="app.lecturer" class="list-group-item" style="text-align: center;background-color: slategray;color: whitesmoke">{{app.name}}</a>
        <a ui-sref=".myCourse" class="list-group-item" ui-sref-active="active">我的授课</a>
        <a ui-sref=".allCourse" class="list-group-item" ui-sref-active="active">所有课程</a>
        <a ui-sref=".password" class="list-group-item" ui-sref-active="active">修改密码</a>
        <a ui-sref="signin" class="list-group-item" ng-click="logout()" style="text-align: center;background-color: lightcoral;color: whitesmoke;margin-top: 10px">注销登录</a>
    </div>
</div>
<div class="col col-md-9">
    <div class="alert alert-info" ng-show="curState()=='app.lecturer'">欢迎使用{{app.name}}——教师端</div>
    <div ui-view></div>
</div>